@model Nhom18WebBanHoa.Models.Loai_San_Pham

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2></h2>

<h3 style="text-align: center">Bạn Chắc Chắn Muốn Xóa?</h3>
<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tenloaiSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenloaiSP)
        </dd>

    </dl>

    @using (Html.BeginForm("Delete", "LoaiSanPham", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input style="text-align: center" type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
