USE [master]
GO
/****** Object:  Database [QuanLyBanHoa]    Script Date: 03/04/2022 10:59:37 CH ******/
CREATE DATABASE [QuanLyBanHoa]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyBanHoa', FILENAME = N'C:\Program Files\Microsoft SQL Server\LAPTOP-SA83IE9E\SQLEXPRESSD\DATA\QuanLyBanHoa.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyBanHoa_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\LAPTOP-SA83IE9E\SQLEXPRESS\DATA\QuanLyBanHoa_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyBanHoa].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyBanHoa]
GO
/****** Object:  Table [dbo].[Chi_Tiet_Don_Hang]    Script Date: 03/04/2022 10:59:38 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chi_Tiet_Don_Hang](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tenSP] [nvarchar](100) NULL,
	[gia] [float] NULL,
	[soluong] [int] NULL,
	[tonggia] [float] NULL,
	[idSP] [int] NOT NULL,
	[idDonHang] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Don_Hang]    Script Date: 03/04/2022 10:59:38 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Don_Hang](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ten] [nvarchar](100) NULL,
	[SDT] [varchar](10) NULL,
	[email] [varchar](50) NULL,
	[diachi] [nvarchar](100) NULL,
	[tieude] [nvarchar](max) NULL,
	[ngaytao] [date] NULL,
	[tongtien] [float] NULL,
	[idtrangthai] [int] NULL,
	[idNgDung] [int] NULL,
	[idNgGiaoHang] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Loai_San_Pham]    Script Date: 03/04/2022 10:59:38 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Loai_San_Pham](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tenloaiSP] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nguoi_Dung]    Script Date: 03/04/2022 10:59:38 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nguoi_Dung](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[taikhoan] [varchar](50) NOT NULL,
	[matkhau] [varchar](50) NOT NULL,
	[ten] [nvarchar](100) NOT NULL,
	[SDT] [varchar](10) NULL,
	[email] [varchar](50) NULL,
	[diachi] [nvarchar](100) NULL,
	[quyen] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nguoi_Giao_Hang]    Script Date: 03/04/2022 10:59:38 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nguoi_Giao_Hang](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ten] [nvarchar](100) NOT NULL,
	[SDT] [varchar](10) NULL,
	[diachi] [nvarchar](100) NULL,
	[hinh] [varchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nha_Cung_Cap]    Script Date: 03/04/2022 10:59:38 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nha_Cung_Cap](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tenNCC] [nvarchar](100) NOT NULL,
	[SDT] [varchar](10) NULL,
	[email] [nvarchar](50) NULL,
	[diachi] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[San_Pham]    Script Date: 03/04/2022 10:59:38 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[San_Pham](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tenSP] [nvarchar](100) NOT NULL,
	[hinh] [varchar](150) NULL,
	[gia] [float] NULL,
	[mota] [nvarchar](max) NULL,
	[trangthai] [bit] NULL,
	[ngaydanghinh] [date] NULL,
	[idloaiSP] [int] NOT NULL,
	[idNCC] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Trang_Thai]    Script Date: 03/04/2022 10:59:38 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trang_Thai](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[trangthai] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Chi_Tiet_Don_Hang]  WITH CHECK ADD  CONSTRAINT [FK_Chi_Tiet_Don_Hang_Don_Hang] FOREIGN KEY([idDonHang])
REFERENCES [dbo].[Don_Hang] ([id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Chi_Tiet_Don_Hang] CHECK CONSTRAINT [FK_Chi_Tiet_Don_Hang_Don_Hang]
GO
ALTER TABLE [dbo].[Chi_Tiet_Don_Hang]  WITH CHECK ADD  CONSTRAINT [FK_Chi_Tiet_Don_Hang_San_Pham] FOREIGN KEY([idSP])
REFERENCES [dbo].[San_Pham] ([id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Chi_Tiet_Don_Hang] CHECK CONSTRAINT [FK_Chi_Tiet_Don_Hang_San_Pham]
GO
ALTER TABLE [dbo].[Don_Hang]  WITH CHECK ADD  CONSTRAINT [FK_Don_Hang_Nguoi_Dung] FOREIGN KEY([idNgDung])
REFERENCES [dbo].[Nguoi_Dung] ([id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Don_Hang] CHECK CONSTRAINT [FK_Don_Hang_Nguoi_Dung]
GO
ALTER TABLE [dbo].[Don_Hang]  WITH CHECK ADD  CONSTRAINT [FK_Don_Hang_Nguoi_Giao_Hang] FOREIGN KEY([idNgGiaoHang])
REFERENCES [dbo].[Nguoi_Giao_Hang] ([id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Don_Hang] CHECK CONSTRAINT [FK_Don_Hang_Nguoi_Giao_Hang]
GO
ALTER TABLE [dbo].[Don_Hang]  WITH CHECK ADD  CONSTRAINT [FK_Don_Hang_Trang_Thai] FOREIGN KEY([idtrangthai])
REFERENCES [dbo].[Trang_Thai] ([id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Don_Hang] CHECK CONSTRAINT [FK_Don_Hang_Trang_Thai]
GO
ALTER TABLE [dbo].[San_Pham]  WITH CHECK ADD  CONSTRAINT [FK_San_Pham_Loai_San_Pham] FOREIGN KEY([idloaiSP])
REFERENCES [dbo].[Loai_San_Pham] ([id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[San_Pham] CHECK CONSTRAINT [FK_San_Pham_Loai_San_Pham]
GO
ALTER TABLE [dbo].[San_Pham]  WITH CHECK ADD  CONSTRAINT [FK_San_Pham_Nha_Cung_Cap] FOREIGN KEY([idNCC])
REFERENCES [dbo].[Nha_Cung_Cap] ([id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[San_Pham] CHECK CONSTRAINT [FK_San_Pham_Nha_Cung_Cap]
GO
USE [master]
GO
